* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}


p {
  padding: 0;
}


header,
footer {
  background-color: #000;
  color: aliceblue;
  padding: 1rem;
  text-align: center;
}

footer {
  margin-top: 2rem;
  border-top: 2px solid #444;
}


nav {
  background-color: #333;
  padding: 0.5rem;
}

nav a {
  color: white;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
}


main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #222;
  padding-bottom: 0.5rem;
}


section {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #aabbef;
}

section p,
section ul {
  margin: 0.5rem 1rem;
}


aside {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}


img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}